$var title: API
<div class="prose">
<!--<h1>API</h1>-->

<h2 class="no-margin"><a href="/rules">Game rules</a></h2>
<p class="faded">Learn the rules of Robot Game.</p>

<h2 class="no-margin"><a href="/gettingstarted">Getting started</a></h2>
<p class="faded">You'll create your first robot and figure out how to command it.</p>

<h2 class="no-margin"><a href="/rgdocs">Library documentation</a></h2>
<p class="faded">Robot Game comes with a module to make life easier.</p>

<h2 class="no-margin"><a href="/kit">Testing with the kit</a></h2>
<p class="faded">Make sure your robot is in top shape before making it compete.</p>

<h2 class="no-margin"><a href="/security">Security</a></h2>
<p class="faded">A few things we do to make sure mean people don't kill the server.</p>

</div>
