$def with (rid, robots)
$var title: Challenge robot
$if len(robots) == 0:
    <p>Looks like you don't have any robots yet. You'll have to make a new one to get started.</p>
    <form method="get" action="/robot/new"><button>Make a robot</button></form>
$else:
    <h1>Please choose the robot you want to use.</h1>
    <table>
        $for robot in robots:
            <tr>
                <td class="faded">$:tplib.drating(robot)</td>
                <td><a href="/robot/$rid/challenge/$robot.id">$robot.name</a></td>
                $for times in [2, 3, 5, 10]:
                  <td><a href="/robot/$rid/challenge/$robot.id/$times">$times times</a></td>
            </tr>
    </table>
