$def with (robot, matches, page, per, against, ranked=None)
$var title: Match history for $robot.name
<div class="clearfix">
    <div class="left">
        <h1 class="no-margin">
          $:tplib.fancy_display_name(robot)
        </h1>
        <div class="faded">
            <div>Elo rating: $:tplib.drating(robot, decimal=True)</div>
            <div>
                $if robot.deleted:
                    This robot has been deleted.
                $elif robot.disabled:
                    This robot has been disabled.
                $elif robot.rating is not None:
                    Current ranking: $(robot.ranking + 1)
            </div>
            <div class="small">
              Last updated $tplib.time_ago(robot.last_updated).
              Code length $robot.len characters.
              <abbr rel="tooltip" title="Average time per ranked match.">
                Average time</abbr>
              $tplib.rounded(robot.time, 2)s.
              $if tplib.is_mod(sess):
              <br/>
              Mod only:
                <abbr rel="tooltip" title="Increases every round the bot is not matched and resets when matched.">
                  Matchmaking probability</abbr>
                $tplib.rounded(robot.priority, 3).
                <abbr rel="tooltip" title="Approximate rolling win rate.">
                  Win rate</abbr>
                $tplib.rounded(robot.winrate, 3).
            </div>
        </div>
        <div>
          $if not robot.deleted:
            $if 'logged_in' in sess and sess.user_id == robot.user_id or tplib.is_admin(sess):
              <a class="nou" href="/robot/$robot.id/edit"><i class="fa fa-pencil"></i> Edit</a> <span class="faded">&middot;</span>
            $if robot.open_source or ('logged_in' in sess and sess.user_id == robot.user_id) or tplib.is_admin(sess):
              <a class="nou" href="/robot/$robot.id/source"><i class="fa fa-code"></i> View source</a>
            $if tplib.is_admin(sess):
              <span class="faded">&middot;</span>
              $if not robot.disabled:
                <a class="nou" href="/robot/$robot.id/disable"><i class="fa nom fa-minus-circle"></i> Disable</a>
              $else:
                <a class="nou" href="/robot/$robot.id/enable"><i class="fa nom fa-plus-circle"></i> Enable</a>
              $if not robot.deleted:
                <span class="faded">&middot;</span>
                <a class="nou" href="/robot/$robot.id/delete"><i class="fa nom fa-trash-o"></i> Delete</a>
              <span class="faded">&middot;</span>
              <a class="nou" href="/robot/$robot.id/test"> Test</a>
        </div>
    </div>
</div>
<hr/>
<div class="clearfix robot-info">
  <div class="history">
      $ wins = 0.0
      $ total = 0.0
      $if matches:
        $if against:
          <a href='/robot/$robot.id/history'>All-opponents</a>
          <span class="faded">&middot;</span>
        <a href='?per=$per'>Both</a>
        <span class="faded">&middot;</span>
        <a href='?per=$per&ranked=1'>Ranked-only</a>
        <span class="faded">&middot;</span>
        <a href='?per=$per&ranked=-1'>Challenges-only</a>
        <span class="faded">&middot;</span>
        <a href='?ranked=$ranked&per=50'>/50</a>
        <span class="faded">&middot;</span>
        <a href='?ranked=$ranked&per=100'>/100</a>
        <span class="faded">&middot;</span>
        <a href='?ranked=$ranked&per=200'>/200</a>
        <div class="matches fill">
            $for match in matches:
              $ total += 1.0
              <div class="match-item info $('normal' if match.winner == 0 else 'success' if match.winner == robot.id else 'fail')">
                  <a href="/match/$match.id" class="faded timestamp">
                      $tplib.time_ago(match.timestamp)
                  </a>
                  <span class="rating faded">
                      $if match.ranked:
                          ($tplib.match_rating(match, robot.id))
                  </span>
                  <div class="result">
                      <a class="inherit-color" href="/match/$match.id">
                        $if match.winner == 0:
                          <i class="fa fa-fw fa-ellipsis-h"></i>
                          $ wins += 0.5
                        $elif match.winner == robot.id:
                          <i class="fa fa-fw fa-check"></i>
                          $ wins += 1.0
                        $elif match.winner is not None:
                          <i class="fa fa-fw fa-times"></i>
                        $else:
                          <i class="fa fa-fw fa-exclaimation" rel="tooltip" title="Error."></i>
                      </a>
                  </div>
                  <div class="score">
                      <a class="inherit-color" href="/match/$match.id">
                          $if match.r1_score is not None and match.r2_score is not None:
                                  $('{0} : {1}'.format(*((match.r1_score, match.r2_score) if match.r1_id == robot.id else (match.r2_score, match.r1_score))))
                      </a>
                  </div >
                  $if against is None:
                      <a class="faded" href="/robot/$robot.id/against/$(match.r2_id if match.r1_id == robot.id else match.r1_id)">
                          vs.
                      </a>
                  $else:
                      <span class="faded">vs.</span>
                  <a class="name inherit-color" href="/robot/$(match.r2_id if match.r1_id == robot.id else match.r1_id)">
                      $(match.r2_name if match.r1_id == robot.id else match.r1_name)
                  </a>
                  <span class="faded rating">
                      $if match.ranked:
                          ($tplib.match_rating(match, robot.id, other=True))
                  </span>
                  <span class="change">
                      $if match.ranked:
                          $ change = tplib.rating_change(match, robot.id)
                          $if change > 0:
                              (+$change)
                          $elif change < 0:
                              ($change)
                          $else:
                              (~)
                  </span>
                  <div>
                      $if not match.ranked and not ranked:
                          <i class="defcursor faded fa fa-asterisk" rel="tooltip" title="Unranked."></i>
                  </div>
              </div>
        </div>
      $else:
          $if page == 0:
              <p>This robot has not played any matches.</p>
          $else:
              <p>No more matches.</p>
      $if total > 1:
        <abbr rel="tooltip" title="For displayed matches, wins are 1, ties are 0.5.">
          Win rate</abbr>: $tplib.rounded(wins/total*100)%
      <div class="right">
        $if page >= 1:
          <a href="?page=$(page-1)&ranked=$ranked&per=$per">
            <i class="fa fa-fw fa-caret-left" id="key-left"></i>Prev
          </a>
        $if len(matches) == per:
          $if page >= 1:
            <span class="faded">&middot;</span>
          <a href="?page=$(page+1)&ranked=$ranked&per=$per">
            Next<i class="fa fa-fw fa-caret-right" id="key-right"></i>
          </a>
      </diV>
  </div>
</div>
