$def with (user, robots, disabled_robots)
$var title: Viewing user $user.id
<div class="clearfix">
  <div class="about">
    $if tplib.is_logged_in(sess) and sess.user_id == user.id:
      <div class="profile-page right">
        <span><b>$user.robot_count/$user.robots_limit+</b> robots enabled (can be increased)</span>
        <span><b>$user.challenges/$user.challenges_limit</b> challenges used (resets midnight EST)</span>
      </div>
      <strong>
        <a href="/profile/edit">Edit my profile</a>
      </strong>
      <h1>About me</h1>
    $else:
      <h1>About the programmer</h1>
    <div class="small">
      $if user.last_active:
        Last active $tplib.time_ago(user.last_active).
      $else:
        Last active a long time ago.
      $if tplib.is_mod(sess):
        Registered $tplib.time_ago(user.registered_on).
    </div>
    $:tplib.safe_markdown(user.about)
  </div>

  <hr />
  <h1>Robots</h1>
  $if len(robots) == 0:
      <p>No robots.</p>
  $for robot in robots:
      <p>
          <div class="large">
            $:tplib.fancy_display_name(robot)
          </div>
          <div class="faded">
              Elo rating: $:tplib.drating(robot)<br/>
              $if robot.passed and robot.compiled:
                $if robot.rating is not None:
                  Overall ranking: $(robot.ranking + 1)<br />
                $else:
                  Not yet ranked.<br />
              $else:
                Not ready for matches.<br />
          </div>
      </p>

  $if disabled_robots:
      <br />
      $for robot in disabled_robots:
          <p>
            <span class="faded">
              $:tplib.drating(robot)
            </span>
            <a href="/robot/$robot.id">
                $robot.name
            </a> (disabled)
          </p>

  <hr />
  <p class="faded">
    Join us in our
    <strong><a href="https://plus.google.com/communities/118117754881924895861">Community</a></strong>
    to share your thoughts!
  </p>
</div>
